@import "tailwindcss";

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0c0a09;
}

#threejs-wildfire-viewport {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#threejs-wildfire-viewport canvas {
  display: block !important;
  width: 100% !important;
  height: 100% !important;
  outline: none;
}
